{% extends 'base.html' %}

{% block content %}
<h2>Name of the program: {{ course.title }}</h2>
<p>Short Description of the Course: {{ course.info }}</p>
<p>Course Duration: {{ course.duration_months }}</p>
<p>Total price: ${{ course.price }}</p>


<h3>Teachers of the course:</h3>
{% for teacher in course.teacher.all %}
<li>
    <a href="/schedule/teacher_details/{{ teacher.id }}">
        {{ teacher.name }} {{ teacher.surname }}
    </a>
</li>
{% endfor %}

<h3>Already studying:</h3>
{% for student in course.students.all %}
<li>{{ student.name }} {{ student.surname }}</li>
{% endfor %}

<div style="border: 1px solid lightcoral; margin: 8px 0;">
    <h4>Join us!</h4>
    <p>
        <a href="/schedule/add_course">Apply to the course {{ course.title }}</a>
    </p>
</div>

<p>
    <a href="/schedule/main/">Go back to the list of courses</a>
</p>
{% endblock %}